# Binaries
bin/
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment files
.env

# Dependency directories
vendor/

# Logs
*.log
build-errors.log

# IDE specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
